@page "/agenda"
@layout EmptyLayout




<div class="tr-bg-header text-center">
    <h3 class="p-4 text-light">
        Time out for life agenda
    </h3>
</div>
<div class=" row">

    <div class="col-1">
    </div>

    <div class="col-10">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">1300-1315</th>
                    <th scope="col">1315-1330</th>
                    <th scope="col">1330-1400</th>
                    <th scope="col">1400-1430</th>
                    <th scope="col">1430-1500</th>
                    <th scope="col">1500-1515</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Keynote</td>
                    <td>Saffer</td>
                    <td>Happier</td>
                    <td>Healthier :</td>
                    <td>close</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>twitter</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="col-1">
    </div>

</div>

<hr class="bg-primary p-1" />

<div class="row">
    <div class="col-3">
        <div class="row">
            <div class="col-6">
                <div class="float-end mt-4">
                    <div>
                        <b>Happier.</b>
                    </div>
                    <div>
                        <b>Healthier.</b>
                    </div>
                    <div>
                        <b>Safer.</b>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="images/logo_life_circle.png" />
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="d-grid gap-2 mt-4">
            <button type="button" class="btn bg-warning">Home</button>

        </div>
    </div>
    <div class="col-2">
        <div class="d-grid gap-2 mt-4">
            <button type="button" class="btn tr-btn">Help</button>
        </div>
    </div>
    <div class="col-2">
        <div class="d-grid gap-2 mt-4">
            <button type="button" class="btn bg-danger">Logout</button>
        </div>
    </div>

    <div class="col-2">
        <img src="images/logo_love-every-drop.png" class="ms-5"/>
    </div>

</div>

