@page "/agenda"
@layout EmptyLayout




<div class="tr-bg-header text-center">
    <h3 class="p-4 text-light">
        Time out for life agenda
    </h3>
</div>

<div class="mx-4 tr-bg-table">
    <div class="row mx-auto">
        <div class="col-2 py-2">
            <span>1300-1315</span>
        </div>
        <div class="col-2 py-2">
            <span>1315-1330</span>
        </div>
        <div class="col-2 py-2">
            <span>1315-1330</span>

        </div>
        <div class="col-2 py-2">
            <span>1315-1330</span>

        </div>
        <div class="col-2 py-2">
            <span>1315-1330</span>

        </div>
        <div class="col-2 py-2">
            <span>1315-1330</span>

        </div>
    </div>
    <div class="row mx-auto">

        <div class="col-2">
        </div>

        <div class="col-8">
            <div class="row mx-auto">
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
            </div>

            <div class="row mx-auto pt-1">
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
            </div>

            <div class="row mx-auto pt-1">
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
            </div>
            <div class="row mx-auto py-1">
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1">
                        <label><b>Keynote:</b></label>
                        <p>
                            Lorem ipsum dolor sit amet, consector adipleming elit, sed do eiusmod tempor incifit ut
                            labore et dolere
                        </p>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-2">
            <div class="bg-white rounded-3">
                <label>Close</label>
            </div>
        </div>

    </div>
</div>

<hr class="bg-primary p-1" />

<div class="row mx-auto">
    <div class="col-3">
        <div class="row">
            <div class="col-6">
                <div class="float-end mt-4">
                    <div>
                        <b>Happier.</b>
                    </div>
                    <div>
                        <b>Healthier.</b>
                    </div>
                    <div>
                        <b>Safer.</b>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="images/logo_life_circle.png" />
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="d-grid gap-2 mt-4">
            <button type="button" class="btn bg-warning">Home</button>

        </div>
    </div>
    <div class="col-2">
        <div class="d-grid gap-2 mt-4">
            <button type="button" class="btn tr-btn">Help</button>
        </div>
    </div>
    <div class="col-2">
        <div class="d-grid gap-2 mt-4">
            <button type="button" class="btn bg-danger">Logout</button>
        </div>
    </div>

    <div class="col-2">
        <img src="images/logo_love-every-drop.png" class="ms-5" />
    </div>

</div>


<style>

    .tr-bg-table {
        background-color: #bcd6e6;
    }
</style>
