@page "/agenda"
@layout EmptyLayout




<div class="tr-bg-header text-center">
    <h3 class="p-4 text-light">
        Time out for life agenda
    </h3>
</div>

<div class="mx-4 tr-bg-table">
    <div class="row mx-auto">
        <div class="col-2 py-2">
            <span>1300-1315</span>
        </div>
        <div class="col-2 py-2">
            <span>1315-1330</span>
        </div>
        <div class="col-2 py-2">
            <span>1315-1330</span>

        </div>
        <div class="col-2 py-2">
            <span>1315-1330</span>

        </div>
        <div class="col-2 py-2">
            <span>1315-1330</span>

        </div>
        <div class="col-2 py-2">
            <span>1315-1330</span>

        </div>
    </div>
    <div class="row mx-auto">

        <div class="col-2">
            <div class="row h-100">
                <div class="col-6">
                    <div class="row h-25 ms-1 mb-1">
                        <div class="col-12 bg-white rounded-3 p-1 h-100">1</div>
                    </div>
                     <div class="row h-25 ms-1 mb-1">
                        <div class="col-12 bg-white rounded-3 p-1 h-100" >2</div>
                     
                    </div>
                     <div class="row h-25 ms-1 mb-1" >
                        <div class="col-12 bg-white rounded-3 p-1 h-100">3</div>
                     
                    </div>
                     <div class="row h-25 ms-1 mb-1">
                        <div class="col-12 bg-white rounded-3 p-1 h-100">4</div>
                     
                    </div>

                </div>
                <div class="col-6">
                    <div class="bg-white rounded-3 p-1 h-100">
                        Management Board Introduction
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="row mx-auto">
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Keynote speaker</b></label>
                        <div>
                            
                                Dr Zoe Williams
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                            Auto pilot and the ripple effect
                        </div>
                        <div>
                            Delivered by chris woods, karrdale
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                            Understanding burn out
                        </div>
                        <div>
                            Delivered by Mental Health at Work
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                            Building on your fitness
                        </div>
                        <div>
                            Delivered by Elevate
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mx-auto pt-1">
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Keynote Speaker </b></label>
                        <div>
                           Simon Thomas
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                          Risk psychology
                        </div>
                        <div>
                            Delivered by Piers Fleming, UEA
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                          Reset yourself with a mindfulness workshop
                        </div>
                        <div>
                            Delivered by IPRS Health
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                          Managing lower back pain
                        </div>
                        <div>
                            Delivered by IPRS Health
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mx-auto pt-1">
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Keynote Speaker</b></label>
                        <div>
                            Nigel Owens
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                           Jason and Abbi’s personal story
                        </div>
                        <div>
                            Delivered by Jason Ankers & Abbi Taylor
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                           Supporting your colleagues with mental health
                        </div>
                        <div>
                            Delivered by IPRS Health
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                           Stretch and flex
                        </div>
                        <div>
                            Delivered by Vita Health Group
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mx-auto py-1">
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Keynote Speaker</b></label>
                        <div>
                            Damian Hughes and Jake Humphrey
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Safer</b></label>
                        <div>
                            Leadership behaviours
                        </div>
                        <div>
                            Delivered by OAH Law
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Happier</b></label>
                        <div>
                           Managing the cost of living
                        </div>
                        <div>
                            Delivered by Salary Finance 
                        </div>
                    </div>

                </div>
                <div class="col-3 ">
                    <div class="bg-white rounded-3 p-1 h-100">
                        <label><b>Healthier</b></label>
                        <div>
                            Healthy lifestyle
                        </div>
                        <div>
                            Delivered by Vita Health Group
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-2 text-center mb-1">
            <div class="bg-white rounded-3  p-1 h-100">
                <div class="my-auto">Close</div>
            </div>
        </div>

    </div>
</div>

<hr class="bg-primary p-1" />

<div class="row mx-auto">
    <div class="col-3">
        <div class="row">
            <div class="col-6">
                <div class="float-end mt-4">
                    <div>
                        <b>Happier.</b>
                    </div>
                    <div>
                        <b>Healthier.</b>
                    </div>
                    <div>
                        <b>Safer.</b>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="images/logo_life_circle.png" />
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="d-grid gap-2 mt-4">
            <a href="/channel/1" class="btn bg-warning">Home</a>

        </div>
    </div>
    <div class="col-2">
        <div class="d-grid gap-2 mt-4">
            <button type="button" class="btn tr-btn">Help</button>
        </div>
    </div>
    <div class="col-2">
        <div class="d-grid gap-2 mt-4">
            <button type="button" class="btn bg-danger">Logout</button>
        </div>
    </div>

    <div class="col-2">
        <img src="images/logo_love-every-drop.png" class="ms-5" />
    </div>

</div>


<style>

    .tr-bg-table {
        background-color: #bcd6e6;
    }
</style>
